<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Employees</h1>
      <hr>
      <app-driver-list (onDelete)="onEmployeeDelete($event)" (onEdit)="onEmployeeEdit($event)" [employeesList]="employeeList"></app-driver-list>
      <hr>
      <button class="btn btn-success" (click)="createEmployee()">Add new Employee</button>
    </div>
  </div>
</div>

<app-delete-modal #deleteModal (editFormSubmitted)="getData()"></app-delete-modal>
<app-edit-driver-modal #editModal (editFormSubmitted)="getData()"></app-edit-driver-modal>


